
// Color Schemas

$theme-ffffff:      #ffffff;
$theme-000000:      #000000;
$theme-e30613:      #e30613;
$theme-f6a000:      #f6a000;
$theme-009cb6:      #009cb6;
$theme-40a01f:      #40a01f;
$theme-f2f2f2:      #f2f2f2;

